<nav class="navbar">
    <ul>
        <li><a>01. <span>
            {{NavBarTitles.about}}
        </span></a></li>
        <li><a>02. <span>
            {{NavBarTitles.xp}}
        </span></a></li>
        <li><a>03. <span>
            {{NavBarTitles.projects}}
        </span></a></li>
        <li><a>04. <span>
            {{NavBarTitles.contact}}
        </span></a></li>
        <li>
            <button class="resume-button">Resume</button>
        </li>
        <li (click)="toggleDarkMode()">
            <span *ngIf="!isDarkMode">
             <i class="fa-solid fa-moon"></i> <!-- Dark mode icon -->
            </span>
            <span *ngIf="isDarkMode">
            <i class="fa-solid fa-sun"></i> <!-- Light mode icon -->
            </span>
        </li>

    </ul>
</nav>
