<div class="about-title" data-aos="fade-up">
    <h3 class="section-title">
        <span class='n-section-title'>01.</span> {{NavBarTitles.about}}
    </h3>
    <p>
        Hello! My name is Elizabeth and I create things that live on the internet.
        I am a dedicated full-stack software developer with a unique background in special education.
        My journey into software development began during my final year of university, where my passion for assistive
        technology for individuals with disabilities was ignited through my thesis on speech delay assistance. After
        seven fulfilling years as a special education teacher, I transitioned into software development in 2018. My
        initial foray into the field stemmed from a desire to create solutions for tracking IEP goals, leading to the
        development of software tailored for special education teachers. Currently, I apply my expertise as a front-end
        developer at an ERP software company, specializing in solutions for the metal casting industry.
    </p>
</div>