 <app-sidebar></app-sidebar>
    <div class="contents">
        <app-header-navigation></app-header-navigation>
        <div class="text-content">
        <h3>Hello! My name is</h3>
        <h1>Elizabeth O'Connor</h1>
        <h2>Fullstack Software Developer</h2>
        <p>I’m a software developer specializing in creating exceptional digital experiences.
            Currently, I’m focused on building a modern, accessible, and intuitive ERP system for
            <a href="https://www.blinfo.com/">B&L Information Systems</a>.
        </p>
        </div>
    </div>
