.contents{
    margin-left: 5%;
    margin-right: 5%;
}

h1, h2 {
    font-size: 4rem;
    margin: 1rem;
    padding: 0;
}

h3 {
    font-family: var(--monospace-font);
}

p {
    /*display: block;*/
    margin: 1rem;
    /*padding: 2rem;*/
    width: 33rem;
    line-height: 1.5rem;
    /*height: auto;*/
}