<nav class="sidebar-nav">
    <ul>
        <li class="list-container"><a href="#"><i class="fa-brands fa-github icon"></i></a></li>
        <li class="list-container"><a href="#"><i class="fa-brands fa-linkedin icon"></i></a></li>
        <li class="list-container"><a href="#"><i class="fa-brands fa-instagram icon"></i></a></li>
        <li class="list-container"><a href="#"><i class="fa-brands fa-codepen icon"></i></a></li>
        <li class="list-container"><a href="#"><i class="fa-solid fa-file icon"></i></a></li>
    </ul>
    <div class="vertical-line"></div>
</nav>