/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* Colour Palette for the whole site */
:root {
  --primary-color: #084C61;
  --secondary-color: #177E89;
  --accent-one-color: #DB3A34;
  --accent-two-color: #FFC857;
  --accent-three-color: #323031;
  --text-color: #232020; /* Dark gray for text */
  --bg-color: #FAF3DDl; /* Eggshell for main back */
  /* Fonts */
  --primary-font: 'Titillium Web','Roboto', sans-serif;
  --secondary-font: 'Montserrat', sans-serif;
  --monospace-font: 'Source Code Pro', monospace;
  --serif-font: 'Georgia', serif;
  --sans-serif-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Base Styles */
html{
  font-size: 16px;
  font-weight: 400;
}

body {
  font-family: var(--secondary-font);
  background-color: var(--bg-color);
  color: var(--text-color); /* Default text color */
}

/*Global anchor styles */
a {
  font-family: var(--primary-font);
  color: var(--accent-one-color); /* Link color */
  text-decoration: none;
}
